html,
body {
    
    line-height: 1.3em;
    letter-spacing: normal;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.bodyContainer {
    
    height: 100%;
    margin:0;
    padding:0;
    position:relative;
    z-index:0;
}

.float-right {
    float: right;
} 

.l-box {
    padding: 1em;
}

.header {
    margin: 0 0;
    background: #DDD;
    padding: 20px;
}

    .header .pure-menu {
        background: #DDD;
        position:fixed;
        top:0;
        left:0;
        width:100%;
        box-shadow: 0 3px 3px rgba(0,0,0,0.2);
    }

    .header ul {
        padding: 0.2em;
        background: #DDD;
        float: right;
    }

    .header li a:hover, .header li a:focus {
        background: #DDD;
        border: none;
        color: #06e;
    }

    .header a.pure-menu-heading {
        color: #FFF;
        float: left;
        font-size: 1.2em;
        padding-top: 7px;
    }

    .header a:link.pure-menu-heading, .header a:visited.pure-menu-heading { 
        color: #666;
        text-decoration:none;
    }

    .header a:hover.pure-menu-heading { 
        color: #06e; 
    }

.mainContent {

    padding:20px;
    position:relative;
    z-index:1;
    background-color: #fff;
    letter-spacing: normal;

    /*
    
    background-image:-webkit-radial-gradient(center, circle farthest-corner, #fff, #e2e2e2);
    background-image:-moz-radial-gradient(center, circle farthest-corner, #fff, #e2e2e2);
    background-image:radial-gradient(center, circle farthest-corner, #fff, #e2e2e2);

    padding: 120px 0 600px;
    
    */
}

.footer {
    text-align: left;
    height:29px;
    font-size:0.9em;
    position:relative;
    z-index:-2;
    

}
    .footerContent {
        /*
        border-top-color: rgb(183, 183, 183);
        border-top-style: solid;
        border-top-width: 1px;
        */ 

        background: #ddd;

        box-shadow: 0px 3px 3px rgba(0,0,0,0.2) inset;

        width:100%;
        height:29px;
        position:fixed;
        bottom:0;
        left:0;
        z-index:-1;

    }

        a.copyr {
        color: #666;
        display: block;
        padding-top: 5px;
        padding-left: 12px;
        }

        a:link.copyr { 
            color: #666;
            text-decoration:none;
        }
        a:visited.copyr {
            color: #666;
            text-decoration:none;
        }
        a:hover.copyr { 
            color: #06e; 
        }

        .footer .pure-menu {
            background: transparent;
            text-align: right;
        }
            .footer .pure-menu ul {
            
            }   

            .footer .pure-menu ul li {
                background: transparent;
            }

                .bottom-nav a:link,
                .bottom-nav a:visited {
                    background: transparent;
                    border: none;
                    color: #666;
                }

                .bottom-nav a:hover,
                .bottom-nav a:focus {
                    background: transparent;
                    border: none;
                    color: #06e;
                }


.primary-button {
    background: #06e;
    color: #ccc;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
}

.newItemButton {
    /*background: #06e;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
    text-decoration: none;
    */
    background-color:#0078e7;
    color:#fff;
    display: block;
    box-shadow: 3px 4px 3px rgba(0,0,0,0.2);
}

.pure-table {
    display: block;
    overflow: auto;
    border: none;
    padding: 0;
    margin: 0;
    border: 0;
    border-collapse: collapse;
}

.pure-button-link {
    margin-top:20px;
}

.pure-button-link:visited {
    margin-top:20px;
    background:#000;
}

.pure-table tr td {
    font-size: 0.9em;
}

.fixImg {
    min-width:150px;
    padding: 0 10px 0 0;
    margin: 0;
    border: 0;
}

.columnLeft {
    text-align: left;
}

.columnRight {
    text-align: right;
}

.pure-menu li a:hover,
.pure-menu li a:focus {
    background:transparent;
}
