{{ define "_show-list_table" }}
<div class="pure-u-1-2">
	<h2>{{ .Title }}</h2>
	<table id="showListTable" class="pure-table pure-table-horizontal listTable">
		<tr>
			<th>Id</th>
			<th>Img</th>
			<th>Title</th>
		</tr>
		{{ range .Shows }}
		<tr>
			<td><a href='{{ .Link }}'>{{ .Id }}</a></td>
			<td class="fixImg"><a href='{{ .Link }}'><img src="{{ .Img }}" alt="{{.Title}}"/></a></td>
			<td><a href='{{ .Link }}'>{{ .Title }}</a></td>
		</tr>
		{{ end }}
	</table>
</div>
{{ end }}