{{ define "episodeList" }}
{{ template "pageHeader" . }}
{{ $d := . }}
<h1>Episodes</h1>
<table class="pure-table pure-table-horizontal listTable" id="episodeListTable">
	<tr>
		<th>Id</th>
		<th>Title</th>
		<th>Link</th>
	</tr>
	{{ range .Data }}
	<tr>
		<td class='dataColumn'><a href='{{ .Link }}'>{{ .Id }}</a></td>
		<td class='dataColumn'><a href='{{ .Link }}'>{{ .Title }}</a></td>
		<td class='dataColumn'>{{ .Link }}</a></td>
	</tr>
	{{ end }}
</table>
{{ template "pageFooterTop" . }}
{{ template "pageFooterBottom" . }}
{{ end }}