{{ define "episodeList" }}
{{ template "pageHeader" . }}

<h2>{{ index .Sdata 1 }}</h2>

<p>
<img src="{{ index .Sdata 0 }}" alt="{{ index .Sdata 1 }}" style="float:left; margin-right: 12px;">



	{{ range .Data }}
	<a href="{{ .Link }}" class="pure-button pure-button-primary pure-button-link">{{ .Title }}</a>
	{{ end }}

</p>

{{ template "pageFooterTop" . }}
{{ template "pageFooterBottom" . }}
{{ end }}