{{ define "showList" }}
{{ template "pageHeader" . }}
<div class="pure-g-r">
	{{ template "_show-list_table" .Data }}
	{{/* template "_show-list_table" index .Sdata 0 */}}
</div>
{{ template "pageFooterTop" . }}
{{ template "pageFooterBottom" . }}
{{ end }}
<!-- class="pure-table pure-table-horizontal listTable" -->